/* LARC721 media block */
.inventory-larc721-media {
    display: flex;
    justify-content: center;
    max-height: 50px;
}

 .inventory-larc721-media img {
    height: 50px;
}
/* LARC721 media block end */
